@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body,.inner {
	height: 100%;
    margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;;
}

#map {
	height: 100%;
}

#info-box {
	display:flex;
	flex-direction: column;
	width: 500px;
	height: 100%;
	min-height: 160px;
	position: absolute;
	float: left;
	bottom: 0px;
	padding 20px 0;
	background-color: white;
	box-shadow: 5px 0px 8px #888888;
}

#data {
	display: block;
	position: absolute;
	width: 452px;
	padding: 20px 24px 20px 24px;
	top : 275px;
	margin: 0 auto;
	background-color: #4285F4;
}

#data h1, h3, p{
	width: 100%;
	padding: 0 0px;
	margin: 0;
	color: white;
	font-family: "Roboto";
}

#data h1{
	font-weight:400;
	font-size: 24px;
	line-height: 40px;
	height: 100%;
	width: 408px;
}

#data p, h3{
	margin-top: 10px;
	margin-bottom: 1px; 
	font-weight:300;
	font-size: 15px;
	line-height: 20px;
}

p{
	position: absolute;
	top: 400px;
	line-height: 25px;
	color: black;
	padding: 20px 24px 20px 24px;
	width: 452px;
}

#comments{
	top:468px;
	margin-left: 50px;
	font-weight: 500;
}

img{
	width: 500px;
}

#jauge{
	position: absolute;
	top:525px;
	left:-45px;
}

#commment-icon{
	display: absolute;
	margin-left:24px;
	margin-top:213px;
	width:6%;
}

#footer{
	margin-top: 269px;
}