@font-face {
	font-family: 'Bebas Regular'; 
	src: url('fonts/bebas-regular.otf'); 
	font-weight: normal; 
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Book'; 
	src: url('fonts/bebas-book.otf'); 
	font-weight: normal; 
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/helvetica-bold.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/helvetica.otf') format('otf');
}

html, body,.inner {
	height: 100%;
    margin: 0;
    padding: 0;
	font-family: "Bebas Book";
}

#map {
	height: 100%;
}

#info-box {
	width: 265px;
	height: 500px;
	min-height: 160px;
	
	position: absolute;
	float: left;
	
	left: 30px;
	bottom: 30px;
	
	margin-top: 20px;
	margin-bottom: 75px;
	padding 20px 0;
	
	background: url("img/bg-map-container.jpg");
	border: 10px solid #22354f;
	border-radius: 12px;
}

#data {
	display: block;
	position: absolute;
	top: 20px;
	width: 235px;
	padding: 0 15px;
}

#data h3{
	color: #d84500;
	font-size: 35px;
	line-height: 33px;
	margin: 0 auto 20px auto;
	text-align: center;
}

#data p{
	width: 235px;
	font-size: 15px;
	line-height: 25px;
	color: #3b3b3b;
	font-family: "Helvetica";
	text-align: center;
}

img{
	width: 100%;
}