@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@keyframes animation_from_bottom {
    from {
        opacity: 0;
        transform: translate(0rem, 10rem);
    }
    to {
        opacity: 1;
        transform: translate(0rem, 0rem);
    }
}

body {
    background-color: white;
    margin :3rem;
    text-align: center;
    font-family: 'Roboto';
    color : rgb(51,43,55);
}

#site-title {
    font-size: 4rem;
}

#question {
    font-size: 2rem;
}

#name {
    font-size: 2rem;
    margin-top: 2rem;
}

#monuments {
    display: flex;
    flex-direction: row;
    border-left: 0rem;
    justify-content: center;
}

.picture0, .picture1, .picture2{
    transform: scale(0.6, 0.6);
    margin: -4rem;
    margin-top: 3rem;
    border-style: dotted;
    border-color: rgb(51,43,55);
    opacity: 100%;
}


//-------------------MODAL---------------------------

#wrapper, #computed,#wrapper2, #computed2 {
    display: flex;
    justify-content: center;
    width: 80rem;
}

#wrapper,#wrapper2 {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#computed, #computed2 {
    align-items:  flex-start;
}

.character-picture {
    position: absolute;
    left: 4rem;
    top: -20px;
    transform: scale(0.7, 0.7);
    animation-name: animation_to_left;
    animation-duration: 3s;
	visibility: hidden;
}

.picture-active {
    visibility: visible;
}

.modal-content h3; .modal-content2 h5 {
	text-align: center;
}

.modal-content2 h5 {
    font-size: 2rem;
    margin-top: 2rem;
}

.modal-content, .modal-content2{
	position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
	color: black;
	z-index: 1;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	overflow: auto;
}

.modal-content{
	visibility: hidden;
}

.modal-content-visible{
    visibility: visible; !important
}

.modal-content2{
    visibility: visible;
}

.modal-content-invisible{
    visibility: hidden; !important
}

.modal-content>div, .modal-content2>div {
	background: white;
    box-shadow: 0px 0px 66px -11px rgba(0,0,0,0.75);
	border-radius: 1rem;
	padding: 1rem;
	width: 20rem;
	animation-name: animation_from_bottom;
    animation-duration: 2s;
	margin: auto;
}

.modal-content>div {
    margin-top: 11rem;
}

.modal-content2>div {
	margin-top: 15rem;
}

.modal-content p{
	text-align: center;
}

.modal-content img{
    transform: scale(0.8, 0.8);
    padding-left: 2rem;
}

//----------------------FORM-----------------------------
input[type=text] {
    width: 30rem;
    color: black;
	background: none;
    border: 2px solid #fff;
	width: 300px;
    color: #fff;
    border: none;
}

ul {
    margin: 3rem 0;
    font-size: 1.25rem;
    position: relative;
    padding: 0;
}

//--------------------BOUTON-----------------------------
ul input{
    margin-left: 1rem;
    border-bottom: 1rem solid #fff;
}

input[type=submit] {
    width: 10rem;
    height: 2.75rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 0.75rem;
    padding: 0.5rem 2rem;
    color: rgb(51,43,55);
    transition: all 0.3s;
    font-family: inherit;
}

input[type=submit]:hover{
    background-color: #4285F4;
    color: white;
    transition: 1s ease;
}
